.ipynb_checkpoints/

MANIQA/timm_
MANIQA/timm

Untitled.ipynb
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/run_train_maniqa_tid.py.bat
/.idea/vcs.xml
/.idea/misc.xml
/.idea/MANIQA_reproducing.iml
